<?xml version="1.0"?>
<robot name="lblock_purple">
  <link name="arm_a">
    <inertial>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <mass value="0.06"/>
      <inertia ixx="0.00001600" ixy="0" ixz="0" iyy="0.00005800" iyz="0" izz="0.00005800"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <geometry><box size="0.1 0.04 0.04"/></geometry>
      <material name="lblock_purple_mat"><color rgba="0.6 0.3 0.75 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <geometry><box size="0.1 0.04 0.04"/></geometry>
    </collision>
  </link>
  <link name="arm_b">
    <inertial>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <mass value="0.04000000000000001"/>
      <inertia ixx="0.00001067" ixy="0" ixz="0" iyy="0.00001067" iyz="0" izz="0.00001067"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <geometry><box size="0.04 0.04 0.04"/></geometry>
      <material name="lblock_purple_mat"><color rgba="0.6 0.3 0.75 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0.020000" rpy="0 0 0"/>
      <geometry><box size="0.04 0.04 0.04"/></geometry>
    </collision>
  </link>
  <joint name="ab_joint" type="fixed">
    <parent link="arm_a"/>
    <child link="arm_b"/>
    <origin xyz="0.03 0.04 0.0" rpy="0 0 0"/>
  </joint>
</robot>
